<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li routerLinkActive="active"><a routerLink="/home">Home </a></li>
                    <li class=""><!-- <a href="list-view.html">List View</a> --></li>
                    <li class=""><!-- <a href="grid-view.html">Grid View</a> --></li>
                    <li class=""><!-- <a href="three-col.html">Three Column</a> --></li>
                    <li class=""><!-- <a href="four-col.html">Four Column</a> --></li>
                    <li class=""><!-- <a href="general.html">General Content</a> --></li>
                </ul>
                <!-- <form action="#" class="navbar-search pull-left">
                    <input type="text" placeholder="Search" class="search-query span2">
                </form> -->
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span>
                            Login <b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <!-- <form class="form-horizontal loginFrm" #login="ngForm" (ngSubmit)="submit();">
                                <div class="control-group">
                                    <input type="text" class="span2" placeholder="User Name" 
                                            name="userName" 
                                            class="form-control"
                                            [class.is-invalid]="userName.touched && userName.errors?.required"
                                            #userName="ngModel" 
                                            [(ngModel)]="mainModel.userName"
                                            required>

                                    <div class="text-left" *ngIf="userName.touched && userName.errors?.required" style="color: red;">
                                        Please enter user name
                                    </div>
                                </div>
                                <div class="control-group">
                                    <input type="password" class="span2" placeholder="Password"
                                            name="password"  
                                            class="form-control" 
                                            [class.is-invalid]="password.touched && password.errors?.required"
                                            placeholder="Password"
                                            #password="ngModel" 
                                            [(ngModel)]="mainModel.password"
                                            required>
                                    <div class="text-left" *ngIf="password.touched && password.errors?.required" style="color: red;">
                                        Please enter password
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="invalidLogin">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <label class="form-check-label" for="updatecheck1">
                                                <small style="color: red;">Incorrect username or password</small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input type="checkbox"> Remember me
                                    </label>
                                    <button type="submit" class="shopBtn btn-block" [disabled]="login.invalid">Sign in</button>
                                </div>
                            </form> -->
                            <ul class="nav">
                                <li class=""><a routerLink="/profile">Manage My Account </a></li>
                                <li class=""><a href="/address-book">Manage Address</a></li>
                                <li class=""><a href="grid-view.html">Grid View</a></li>
                                <li class=""><a href="three-col.html">LogOut</a></li>
                                <li class=""><!-- <a href="four-col.html">Four Column</a> --></li>
                                <li class=""><!-- <a href="general.html">General Content</a> --></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>