<script>
  window.addEventListener('DOMContentLoaded', event => {
  
  // Toggle the side navigation
  const sidebarToggle = document.body.querySelector('#sidebarToggle');
  if (sidebarToggle) {
      // Uncomment Below to persist sidebar toggle between refreshes
      // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
      //     document.body.classList.toggle('sb-sidenav-toggled');
      // }
      sidebarToggle.addEventListener('click', event => {
          event.preventDefault();
          document.body.classList.toggle('sb-sidenav-toggled');
          localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
      });
  }
  
  });
  </script>

<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light">{{appName}}</div>
      <div class="list-group list-group-flush">
          <a class="border list-group-item list-group-item-action list-group-item-light p-3" routerLink="/home" routerLinkActive="active">Dashboard</a>
          <a class="border list-group-item list-group-item-action list-group-item-light p-3" routerLink="/user-role" routerLinkActive="active">User Management</a>
          <a class="border list-group-item list-group-item-action list-group-item-light p-3" routerLink="/role" routerLinkActive="active">Role Management</a>
          <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/app" routerLinkActive="active">Application</a> -->
          <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/user-app" routerLinkActive="active">User & Application</a> -->
      </div>
  </div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
      <!-- Top navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <div class="container-fluid">
              <!-- <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button> -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                      <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                      <li class="nav-item"><a class="nav-link" (click)="logOut()">Logout</a></li>
                      <!-- <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#!">Action</a>
                              <a class="dropdown-item" href="#!">Another action</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#!">Something else here</a>
                          </div>
                      </li> -->
                      <!-- Dropdown -->
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{userName}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
      <!-- Page content-->
      
      <div class="right_col" role="main">
          <router-outlet></router-outlet>           
      </div>
    </div>
  </div>



