<div class="span9">
    <h3> My Profile</h3>
    <!-- <hr class="soft" /> -->
    <div class="well">
        <div class="control-group">
            <div class="controls">
                <table>
                    <tr>
                        <td style="width: 150px;">
                            <label class="control-label" for="inputFname">Full Name </label>
                        </td>
                        <td>
                            <label class="control-label" for="inputFname">{{mainModel.fullName}}</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <table>
                    <tr>
                        <td style="width: 150px;">
                            <label class="form-control" for="inputFname">Phone Number</label>
                        </td>
                        <td>
                            <label class="control-label" for="inputFname">{{mainModel.phoneNo}}</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <table>
                    <tr>
                        <td style="width: 150px;">
                            <label class="form-control" for="inputFname">Email</label>
                        </td>
                        <td>
                            <label class="control-label" for="inputFname">{{mainModel.email}}</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <!-- <input type="submit" value="Register" class="exclusive shopBtn"> -->
            </div>
        </div>
    </div>
</div>
<!--  </div>
    </div> -->