<div class="span9">
    <!--  <ul class="breadcrumb">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li class="active">Login</li>
                </ul> -->
    <h3> Login</h3>
    <!-- <hr class="soft" /> -->

    <div class="row">
        <div class="span4">
            <div class="well">
                <h5>ALREADY REGISTERED ?</h5>
                <form #login="ngForm" (ngSubmit)="submit();">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Phone Number</label>
                        <div class="controls">
                            <input class="span3" type="text" placeholder="User Name" 
                            name="userName" 
                            class="form-control"
                            [class.is-invalid]="userName.touched && userName.errors?.required"
                            #userName="ngModel" 
                            [(ngModel)]="mainModel.userName"
                            required>

                    <div class="text-left" *ngIf="userName.touched && userName.errors?.required" style="color: red;">
                        Please enter user name
                    </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" class="span3" placeholder="Password"
                                name="password"  
                                class="form-control" 
                                [class.is-invalid]="password.touched && password.errors?.required"
                                placeholder="Password"
                                #password="ngModel" 
                                [(ngModel)]="mainModel.password"
                                required>
                    <div class="text-left" *ngIf="password.touched && password.errors?.required" style="color: red;">
                        Please enter password
                    </div>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="invalidLogin">
                        <div class="form-group">
                            <div class="form-check">
                                <!-- <input class="form-check-input" type="checkbox" value="" id="updatecheck1"> -->
                                <label class="form-check-label" for="updatecheck1">
                                    <small style="color: red;">Incorrect username or password</small>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <!-- <button type="submit" class="defaultBtn">Sign in</button> -->
                            <button type="submit" class="defaultBtn" [disabled]="login.invalid">Sign in</button>
                            <!-- <a href="#">Forget
                                            password?</a> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <h5>Don't have an Account.</h5><br />
                <!-- Don't have an Account.<br /><br /><br /> -->
                <!-- <form>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">E-mail address</label>
                                    <div class="controls">
                                        <input class="span3" type="text" placeholder="Email">
                                    </div>
                                </div>
                                <div class="controls">
                                    <button type="submit" class="btn block">Create Your Account</button>
                                </div>
                            </form> -->

                <a routerLink="/registration" class="btn btn block" role="button" aria-pressed="true">SIGN UP</a>
            </div>
        </div>
        <!-- <div class="span1"> &nbsp;</div> -->

    </div>

</div>