 
    <!-- 
	Upper Header Section 
-->
<app-upper-header-section></app-upper-header-section>

<!--
Lower Header Section 
-->
<div class="container">
    <div id="gototop"> </div>
    <app-lower-header-section></app-lower-header-section>

    <!--
Navigation Bar Section 
-->
<app-navigation-bar-section></app-navigation-bar-section>
    <!-- 
Body Section 
-->
    <div class="row">
        <app-sidebar></app-sidebar>
            <div class="span9">
               <!--  <ul class="breadcrumb">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li class="active">Login</li>
                </ul> -->
                <h3> Login</h3>
                <!-- <hr class="soft" /> -->

                <div class="row">
                    <div class="span4">
                        <div class="well">
                            <h5>ALREADY REGISTERED ?</h5>
                            <form>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Email</label>
                                    <div class="controls">
                                        <input class="span3" type="text" placeholder="Email">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Password</label>
                                    <div class="controls">
                                        <input type="password" class="span3" placeholder="Password">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="defaultBtn">Sign in</button> <!-- <a href="#">Forget
                                            password?</a> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="well">
                            <h5>Don't have an Account.</h5><br />
                            <!-- Don't have an Account.<br /><br /><br /> -->
                            <!-- <form>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">E-mail address</label>
                                    <div class="controls">
                                        <input class="span3" type="text" placeholder="Email">
                                    </div>
                                </div>
                                <div class="controls">
                                    <button type="submit" class="btn block">Create Your Account</button>
                                </div>
                            </form> -->

                            <a routerLink="/registration" class="btn btn block" role="button" aria-pressed="true">SIGN UP</a>
                        </div>
                    </div>
                    <!-- <div class="span1"> &nbsp;</div> -->
                    
                </div>

            </div>
        </div>
        <!-- 
Clients 
-->
        <section class="our_client">
            <hr class="soften" />
            <h4 class="title cntr"><span class="text">Manufactures</span></h4>
            <hr class="soften" />
            <div class="row">
                <div class="span2">
                    <a href="#"><img alt="" src="assets/img/1.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="assets/img/2.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="assets/img/3.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="assets/img/4.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="assets/img/5.png"></a>
                </div>
                <div class="span2">
                    <a href="#"><img alt="" src="assets/img/6.png"></a>
                </div>
            </div>
        </section>

        <!--
            Footer
            -->
<app-footer></app-footer>
    </div><!-- /container -->

    <!-- <div class="copyright">
<div class="container">
	<p class="pull-right">
		<a href="#"><img src="assets/img/maestro.png" alt="payment"></a>
		<a href="#"><img src="assets/img/mc.png" alt="payment"></a>
		<a href="#"><img src="assets/img/pp.png" alt="payment"></a>
		<a href="#"><img src="assets/img/visa.png" alt="payment"></a>
		<a href="#"><img src="assets/img/disc.png" alt="payment"></a>
	</p>
	<span>Copyright &copy; 2013<br> bootstrap ecommerce shopping template</span>
</div>
</div> -->